* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(230, 230, 230, 0.863);
  font-size: 24px;
}

.box {
  box-sizing: border-box;
  display: block;
  padding: 5px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.conteiner {
  text-align: center;

  &__title {
    color: #be2f2f;
    margin-bottom: 50px;
  }

  &__subTitle {
    margin-bottom: 20px;
  }

  &__text {
    text-align: justify;
    margin-bottom: 20px;

    &_bolid {
      font-weight: bold;
    }

    &_border {
      border: 3px solid black;
    }

    &_ul {
      text-align: start;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}

.color {
  &__red {
    color: #be2f2f;
    margin-bottom: 20px;
  }
}

.footer {
  height: 110px;
}

.header {
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 100px;

  &__logo {
    width: 100px;
    height: 66px;
    color: red;
  }
}

.img {
  display: block;
  height: 35%;
  width: 35%;
  margin-bottom: 30px;
}

.key_figures {
  display: flex;

  &__text {
    margin-right: 20px;
  }
}

.link {
  text-decoration: none;
  font-size: 14px;
  &:visited {
    color: black;
  }

  &:hover {
    color: #be2f2f;
  }
}

.rightimg {
  float: right;
  margin: 7px 0 7px 7px;
}

.text {
  &__left {
    text-align: start;
  }

  &_underline {
    text-decoration: underline;
  }
}

.top {
  &__content {
    // background-image: url(../images/jpg/metal_back.jpg);
    background-color: white;
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 833px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
  }
  .center {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 100px;
  }
  .center {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top {
    &__content {
      padding-top: 20px;
      height: 150px;
    }
  }
}

@media (max-width: 320px) {
  .center {
    padding-left: 10px;
    padding-right: 10px;
  }

  .top {
    &__content {
      padding-top: 20px;
      height: 150px;
    }
  }
}
